  @import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
  html,
  body {
      margin: 0;
      padding: 0;
      height: 100%;
      overflow-x: hidden;
      height: 100%;
      width: 100%;
      overflow: auto;
  }
  
  #header {
      background-color: white;
      width: 100%;
      font-weight: bold;
      position: fixed;
      padding-top: 10px;
      font-size: 40px;
      height: 60px;
      font-family: Roboto;
      font-weight: bold;
      z-index: 2;
      box-shadow: 0px 2px 10px black;
  }
#header .alert{
    width:100%;
    background-color:red;
    margin-top:10px;
    font-size:16px;
    color:white;
    text-align:center;
}
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 4s, opacity 4s linear;
}
  .wrapper {
      width: 1110px;
      margin: 0 auto;
  }
  
  #time {
      position: absolute;
      right: 0;
      top: 0;
      font-weight: normal;
      font-size: 20px;
      margin-right: 200px;
      margin-top: 20px;
  }
  
 
      #header {
          padding-left: 0px;
          padding-right: 0px;
      }
      .wrapper {
          margin: 0;
      }
      #time {
          float: right;
          font-weight: normal;
          font-size: 20px;
          margin-right: 20px;
          margin-top: 20px;
      }
  
  
  #title {
      padding-left: 10px;
  }
  
  #searchField {
      width: 600px;
      padding: 10px;
  }
  
  #sideMenu {
      position: fixed;
      top: 50%;
      bottom: 0px;
      left: 0;
      width: 200px;
      color: #222;
      transform: translate(0, -50%);
      text-align: center;
      font-family: Roboto;
  }
  
  #sideMenu #sideList {
      margin: 0;
      padding: 0;
  }
  
  #sideMenu #sideList li {
      list-style: none;
      margin: 0;
      padding: 0;
      font-size: 20px;
      padding: 20px;
      cursor: pointer;
  }
  
  #sideMenu #sideList li:hover {
      text-decoration: underline;
  }
  
  #sideMenu a {
      color: black;
      text-decoration: none;
  }
  
  #content {
      width: 1100px;
      overflow-x: none;
      margin: 0 auto;
      padding-top: 80px;
      z-index: -2;
  }
  
  @media (max-width: 1500px) {}
  
  .itemContainer {
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: stretch;
      align-content: flex-start;
  }

  .minBtn {
      border: none;
      background-color: transparent;
      padding: 10px;
      cursor: pointer;
  }
  
  .minBtn:hover {
      text-decoration: underline;
  }
  
  #items .item {
      background-color: whitesmoke;
      position: relative;
      margin: 10px;
      border: 1px solid #EDEDED;
      box-shadow: 1px 1px gray;
      max-width: 300px;
      width: 300px;
      padding: 10px;
      text-align: center;
      padding-bottom: 60px;
  }
  
  #items .item h1 {
      margin: 0px 10px 0px 10px;
      padding: 0;
      text-align: center;
      border-bottom: 1px solid black;
  }
  
  #items .item .description {
      margin-top: 8px;
      word-wrap: normal;
  }
  
  #items .item form {
      margin: 10px;
  }
  
  #items .item input {
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      text-align: center;
      font-size: 20px;
  }
  
  #items .item input:focus {
      outline: 0;
  }
  
  #items .item img {
      width: 200px;
      padding: 10px;
  }
  
  #items .item .description {
      font-weight: bold;
  }
  
  #items .item .price {
      margin-top: 10px;
  }
  
  #footer {
      z-index: 2;
      height: 30px;
      width: 1100px;
      margin: 0 auto;
      text-align: center;
  }
  
  .authForm {
      width: 100%;
      margin-top: 10px;
      text-align: center;
  }
  
  .authForm input {
      margin: 10px;
  }
  
  .authForm input[type="submit"] {
      font-size: 20px;
      font-weight: bold;
  }
  
   @media (max-width: 1500px) {
      #footer {
          width: auto;
          margin-left: 200px;
      }
         #content {
          margin-left: 200px;
          width: auto;
      }
   
  }
#cartTable{
    padding:10px;
    
    width:100%;
    
}
#cartTable .item{
    box-shadow: 0px 1px 0px black;
}
#cartTable tr{
    outline:1px;
    text-align:center;

    
}
#cartTable td{

    text-align:center;
    padding:5px;
}
.idle{
    transition:2s;
    background-color:inherit;
}
.processing{
    transition:2s;
    background-color:yellow;
}
.success{
    transition:2s;
    background-color:green;
}
.faillure{
    transition:2s;
    background-color:red;
}
#choseOption{
    text-align:center;
    padding:20px;
}
#choseOption a{
    text-decoration: none;
    color:black;
    font-weight: bold;
    font-size:20px;
    
}
#choseOption a:hover{
    text-decoration: underline;
    cursor:pointer;
}
